<div class="card mb-2">
  <div class="card-block">
    <a href="/posts/{{ post.id }}">detail</a><br>
    <span class="badge badge-default">From</span>
    <a href="/users/{{ post.owner.username }}">@{{ post.owner.username }}</a>
    <h5 class="card-title"><a href="{{ post.url }}">{{ post.url }}</a></h5>
    {% if post.comment %}
      {{ post.comment }}
      <br>
    {% endif %}

    {% comment %}
      forなんか回したくない...
    {% endcomment %}
    {% for f in post.feedbacks %}
      {% if f.owner == user %}
        <button class="btn btn-sm btn-link like-button" data-id="{{ post.id }}">
        {% if f.is_liked %}
        <span class="text-danger oi oi-heart like-icon" title="いい" aria-hidden="true"></span>
        {% else %}
        <span class="text-muted oi oi-heart like-icon" title="いい" aria-hidden="true"></span>
        {% endif %}
        </button>
        {% if not f.consumed %}
        <button class="btn btn-sm btn-link consume-button" data-id="{{ post.id }}">
        <span class="text-muted oi oi-check consume-icon" title="みた" aria-hidden="true"></span>
        </button>
        {% else %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

