<div class="card mb-2">
  <div class="card-block">
    <span class="badge badge-default">From</span>
    <a href="/users/{{ post.owner.username }}">@{{ post.owner.username }}</a>
    <span class="badge badge-default">To</span>
    {% for receiver in post.receivers %}
    <a href="/users/{{ receiver.username }}">@{{ receiver.username }}</a> 
    {% endfor %}
    <h5 class="card-title"><a href="{{ post.url }}">{{ post.url }}</a></h5>
    {{ post.comment }}
    <br>
    <button type="button" class="btn btn-outline-primary btn-sm">
      <span class="oi oi-check" title="check" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-outline-danger btn-sm">
      <span class="oi oi-heart" title="heart" aria-hidden="true"></span>
    </button>
  </div>
</div>

