{% extends "base.html" %}
{% block content %}

<div class="mt-2 ml-2 mr-2">
  <h2>Received</h2>

  <ul class="nav nav-tabs" id="received" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#not-consumed" role="tab" aria-controls="not-consumed">Not Consumed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#liked" role="tab" aria-controls="liked">Liked</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#all" role="tab" aria-controls="all">All</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="not-consumed" role="tabpanel">
      {% include "home/post_list.html" with posts=not_consumed_posts %}
    </div>
    <div class="tab-pane" id="liked" role="tabpanel">
      {% include "home/post_list.html" with posts=liked_posts %}
    </div>
    <div class="tab-pane" id="all" role="tabpanel">
      {% include "home/post_list.html" with posts=received_posts %}
    </div>
  </div>
</div>
{% endblock %}
{% block extend_js %}
$(function () {
  $('#received a:last').tab('show')
})
{% endblock extend_js %}
