{% extends "base.html" %}
{% block content %}

<form class="mt-2 ml-2" action="{% url 'accounts:profile' %}" method="post">
  {% csrf_token %}
  <div class="form-group row">
    <label for="username" class="col-2 col-form-label">Username</label>
    <div class="col-4">
      <input class="form-control" type="text" value="{{ user.username }}" name="username">
    </div>
  </div>
  <div class="form-group row">
    <label for="display_name" class="col-2 col-form-label">Display Name</label>
    <div class="col-4">
      <input class="form-control" type="text" value="{{ user.display_name }}" name="display_name">
    </div>
  </div>
  <div class="form-group row">
    <label for="icon_url" class="col-2 col-form-label">Icon URL</label>
    <div class="col-4">
      <input class="form-control" type="text" value="{{ user.icon_url }}" name="icon_url">
    </div>
  </div>
  <div class="form-group row">
    <label for="bio" class="col-2 col-form-label">bio</label>
    <div class="col-4">
      <input class="form-control" rows="3" type="text" value="{{ user.bio }}" name="bio">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>

{% endblock %}

