{% extends "base.html" %}
{% block content %}

<div class="mt-2 ml-2 mr-2">
  <div class="row justify-content-md-center">
    <div>
      <center><img src="{{ specified_user.icon_url }}" width="100" height="100" class="rounded"/></center>
      <br>
      <h5 class="text-center">{{ specified_user.display_name }}</h5>
      <h6 class="text-center">@{{ specified_user.username}}</h6>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="btn-group" role="group" aria-label="posts">
      <button type="button" class="btn 
        {% if mode == "received" %}btn-success{% else %}btn-secondary{% endif %}"
        onclick="location.href='{% url 'users:received' specified_user.username %}'">
        <span class="h6"><strong>{{ len_received_posts }}</strong></span>
        received
      </button>
      <button type="button" class="btn 
        {% if mode == "liked" %}btn-success{% else %}btn-secondary{% endif %}"
        onclick="location.href='{% url 'users:liked' specified_user.username %}'">
        <span class="h6"><strong>{{ len_liked_posts }}</strong></span>
        liked
      </button>
      <button type="button" class="btn 
        {% if mode == "posted" %}btn-success{% else %}btn-secondary{% endif %}"
        onclick="location.href='{% url 'users:posted' specified_user.username %}'">
        <span class="h6"><strong>{{ len_own_posts }}</strong></span>
        posted
      </button>
    </div>
  </div>
  <br>
  {% include "home/post_list.html" %}
</div>

{% endblock %}
